{% load staticfiles %}

<!doctype html>
<html lang="ua" >
<head>
  <meta charset="utf-8">
  <title>Life Maker</title>
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
  <link rel="stylesheet" href="{% static "css/angular-csp.css" %}">
</head>
<body>

{% block body %}
{% endblock %}

</body>
<!-- Angular     -->
	<script src="{% static "angular/angular.min.js" %}"></script>
	<script src="{% static "angular-sanitize/angular-sanitize.min.js" %}"></script>
	<script src="{% static "app.js" %}"></script>
	<script src="{% static "task/taskCtrl.js" %}"></script>
<!-- Angular end -->
</html>